@font-face {
  font-family: 'DMSans';
  src: url('../assets/DMSans_VariableFont.ttf') format('truetype');
  font-style: normal;
}

.balance-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding: 1.25rem 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 200px;
  }
  
  .balance-label {
    font-size: 0.875rem;
    font-weight: 1000;
    font-family: 'DMSans';
    color: #fff;
    text-transform: lowercase;
  }
  
  .balance-amount {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
    margin: -10px 0;
  }
  
  .peso-sign {
    color: #00d9ff;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .amount {
    font-size: 2.2rem !important;
    font-weight: 1000;
    color: #fff;
  }
  
  .balance-subtitle {
    font-family: 'DMsans';
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.25rem;
  }