.placeholder-card {
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0E0E0;
  }
  
  .placeholder-card-small {
    min-height: 60px;
  }
  
  .placeholder-card-medium {
    min-height: 70px;
  }
  
  .placeholder-card-large {
    min-height: 140px;
  }
  
  .placeholder-x {
    font-size: 1.5rem;
    color: #CCC;
    font-weight: 300;
  }