* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-outer-container {
  min-height: 100vh;
  background-color: #1B1B1B;
  padding: .75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-inner-container {
  width: 100%;
  max-width: 100%;
  background-color: #F5F5F5;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-outer-container {
    padding: 0.5rem;
  }
}